@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


@layer base {
  :root {
    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #ee0979;

    --background: -31 60.45% 3.92%;
    --foreground: -31 9.3% 97.45%;

    --muted: -31 46.5% 14.7%;
    --muted-foreground: -31 9.3% 54.9%;

    --popover: -31 46.4% 6.37%;
    --popover-foreground: -31 9.3% 97.45%;

    --card: -31 46.4% 6.37%;
    --card-foreground: -31 9.3% 97.45%;

    --border: -31 46.5% 14.7%;
    --input: -31 46.5% 14.7%;

    --primary: -31 93% 49%;
    --primary-foreground: -31 9.3% 4.9%;

    --secondary: -31 46.5% 14.7%;
    --secondary-foreground: -31 9.3% 97.45%;

    --accent: -31 46.5% 14.7%;
    --accent-foreground: -31 9.3% 97.45%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: -31 9.3% 97.45%;

    --ring: -31 93% 49%;
  }
}
